In [52]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [101]:
#Get All Years into Single DataFrame
import glob
import os
path = os.getcwd() + '/AllYears/'
allFiles = glob.glob(path + "/*.csv")

In [136]:
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    
    #some years have tabs at end of column names
    df.columns = [i.strip('\n') for i in df.columns]
    
    
    #Make sure SALE DATE column is a Date Type
    df['SALE DATE'] = pd.to_datetime(df['SALE DATE'])
    
    #create year column
    df['YEAR'] = df['SALE DATE'].apply(lambda r: r.year)
    

    list_.append(df)
rawdf = pd.concat(list_,)

In [137]:
rawdf.head()

   Unnamed: 0  BOROUGH               NEIGHBORHOOD                       BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  BLOCK  LOT EASE-MENT BUILDING CLASS AT PRESENT                                    ADDRESS APARTMENT NUMBER  ZIP CODE  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET  YEAR BUILT  TAX CLASS AT TIME OF SALE BUILDING CLASS AT TIME OF SALE  SALE PRICE  SALE DATE  YEAR
0           0        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3030   70                                  A1  4445 PARK AVENUE                                               10457                  1                 0            1              1694               1497        1899                          1                             A1           0 2010-01-15  2010
1           1        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3035    2                                  S1  441 EAST 178 STREET                                            10457                  1                 1            2              1287               2378        1899                          1                             S1      116000 2010-07-01  2010
2           2        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3037   42                                  A1  4428 PARK AVENUE                                               10457                  1                 0            1              3525               1340        1899                          1                             A1      287000 2010-12-10  2010
3           3        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3039   64                                  A1  467 EAST 185 STREET                                            10458                  1                 0            1              1667               1296        1910                          1                             A1      150000 2010-04-20  2010
4           4        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3046   34                                  A1  2085 BATHGATE AVENUE                                           10457                  1                 0            1              2060               1629        1899                          1                             A1      145915 2010-07-27  2010

In [138]:
#cleanup DataFrame
#columns to keep
keep =(
[u'BOROUGH', u'NEIGHBORHOOD', u'BUILDING CLASS CATEGORY',
 u'TAX CLASS AT PRESENT', u'BLOCK', u'LOT',
       u'BUILDING CLASS AT PRESENT', u'ADDRESS',
       u'ZIP CODE', u'RESIDENTIAL UNITS', u'COMMERCIAL UNITS', u'TOTAL UNITS',
       u'LAND SQUARE FEET', u'GROSS SQUARE FEET', u'YEAR BUILT',
       u'TAX CLASS AT TIME OF SALE', u'BUILDING CLASS AT TIME OF SALE',
       u'SALE PRICE', u'SALE DATE', 'YEAR'])

df = df[keep].reset_index(drop=True)

df = df[df['SALE PRICE'] > 1000]

In [139]:
df.head()

   BOROUGH               NEIGHBORHOOD                       BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  BLOCK  LOT BUILDING CLASS AT PRESENT                                    ADDRESS  ZIP CODE  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET  YEAR BUILT  TAX CLASS AT TIME OF SALE BUILDING CLASS AT TIME OF SALE  SALE PRICE  SALE DATE  YEAR
0        5  ANNADALE                   01  ONE FAMILY DWELLINGS                                        1   5391   13                        A5  4716 AMBOY ROAD                               10312                  1                 0            1              1871               1110        2002                          1                             A5      370000 2014-12-08  2014
3        5  ANNADALE                   01  ONE FAMILY DWELLINGS                                        1   5406    1                        A1  381 HAROLD AVENUE                             10312                  1                 0            1              9900               1768        1940                          1                             A1      740000 2014-07-29  2014
6        5  ANNADALE                   01  ONE FAMILY DWELLINGS                                        1   5407   11                        A1  24 ELMBANK STREET                             10312                  1                 0            1              5000               1520        1910                          1                             A1      355000 2014-07-02  2014
7        5  ANNADALE                   01  ONE FAMILY DWELLINGS                                        1   5425   48                        A6  39 SANDGAP STREET                             10312                  1                 0            1              2500                710        1950                          1                             A6      310000 2014-12-04  2014
8        5  ANNADALE                   01  ONE FAMILY DWELLINGS                                        1   5426   38                        A1  25 OCEAN DRIVEWAY                             10312                  1                 0            1              7440               3176        2001                          1                             A1      745000 2014-10-09  2014

In [140]:
df.count()

BOROUGH                           4752
NEIGHBORHOOD                      4752
BUILDING CLASS CATEGORY           4752
TAX CLASS AT PRESENT              4752
BLOCK                             4752
LOT                               4752
BUILDING CLASS AT PRESENT         4752
ADDRESS                           4752
ZIP CODE                          4752
RESIDENTIAL UNITS                 4752
COMMERCIAL UNITS                  4752
TOTAL UNITS                       4752
LAND SQUARE FEET                  4752
GROSS SQUARE FEET                 4752
YEAR BUILT                        4752
TAX CLASS AT TIME OF SALE         4752
BUILDING CLASS AT TIME OF SALE    4752
SALE PRICE                        4752
SALE DATE                         4752
YEAR                              4752
dtype: int64

In [145]:
df.groupby(["YEAR","BOROUGH"]).describe()

                          BLOCK  COMMERCIAL UNITS  GROSS SQUARE FEET  LAND SQUARE FEET          LOT  RESIDENTIAL UNITS       SALE PRICE  TAX CLASS AT TIME OF SALE  TOTAL UNITS   YEAR BUILT      ZIP CODE
YEAR BOROUGH
2014 5       count  4752.000000       4752.000000        4752.000000       4752.000000  4752.000000        4752.000000      4752.000000                4752.000000  4752.000000  4752.000000   4752.000000
             mean   3364.512837          0.063131        1759.922980       4722.791246   187.961911           1.205387    463215.068813                   1.171928     1.268308  1898.102273  10286.271886
             std    2286.422003          0.521292        2537.969133      23230.723408   421.319031           1.918544    852015.045269                   0.598626     1.967260   371.327874    472.432609
             min       1.000000          0.000000           0.000000          0.000000     1.000000           0.000000      2718.000000                   1.000000     0.000000     0.000000      0.000000
             25%    1196.000000          0.000000        1064.000000       2000.000000    24.000000           1.000000    280000.000000                   1.000000     1.000000  1945.000000  10305.000000
             50%    3249.500000          0.000000        1573.500000       3060.500000    54.000000           1.000000    395000.000000                   1.000000     1.000000  1975.000000  10307.000000
             75%    5319.000000          0.000000        2187.250000       4560.000000   124.000000           1.000000    500000.000000                   1.000000     1.000000  1994.000000  10312.000000
             max    8049.000000         21.000000       94000.000000    1150244.000000  5067.000000         118.000000  38515000.000000                   4.000000   118.000000  2015.000000  10314.000000