In [9]:
import pandas as pd

In [15]:
#Testing with 2010 Bronx data
f = open('2010/2010_bronx.csv','r')
df = pd.read_csv(f)
f.close()

In [20]:
df.count()

Unnamed: 0                        4755
BOROUGH                           4755
NEIGHBORHOOD                      4755
BUILDING CLASS CATEGORY           4755
TAX CLASS AT PRESENT              4755
BLOCK                             4755
LOT                               4755
EASE-MENT                         4755
BUILDING CLASS AT PRESENT         4755
ADDRESS                           4755
APARTMENT NUMBER                  4755
ZIP CODE                          4755
RESIDENTIAL UNITS                 4755
COMMERCIAL UNITS                  4755
TOTAL UNITS                       4755
LAND SQUARE FEET                  4755
GROSS SQUARE FEET                 4755
YEAR BUILT                        4755
TAX CLASS AT TIME OF SALE         4755
BUILDING CLASS AT TIME OF SALE    4755
SALE PRICE                        4755
SALE DATE                         4755
dtype: int64

In [37]:
df2 = df[df['SALE PRICE'] > 1000]

In [38]:
#columns to keep
to_keep =(
[u'BOROUGH', u'NEIGHBORHOOD', u'BUILDING CLASS CATEGORY',
 u'TAX CLASS AT PRESENT', u'BLOCK', u'LOT',
       u'BUILDING CLASS AT PRESENT', u'ADDRESS',
       u'ZIP CODE', u'RESIDENTIAL UNITS', u'COMMERCIAL UNITS', u'TOTAL UNITS',
       u'LAND SQUARE FEET', u'GROSS SQUARE FEET', u'YEAR BUILT',
       u'TAX CLASS AT TIME OF SALE', u'BUILDING CLASS AT TIME OF SALE',
       u'SALE PRICE'])

In [44]:
cleaned = df2[to_keep].reset_index(drop=True)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE
0,2,BATHGATE,01 ONE FAMILY HOMES,1,3035,2,S1,441 EAST 178 STREET,10457,1,1,2,1287,2378,1899,1,S1,116000
1,2,BATHGATE,01 ONE FAMILY HOMES,1,3037,42,A1,4428 PARK AVENUE,10457,1,0,1,3525,1340,1899,1,A1,287000
2,2,BATHGATE,01 ONE FAMILY HOMES,1,3039,64,A1,467 EAST 185 STREET,10458,1,0,1,1667,1296,1910,1,A1,150000
3,2,BATHGATE,01 ONE FAMILY HOMES,1,3046,34,A1,2085 BATHGATE AVENUE,10457,1,0,1,2060,1629,1899,1,A1,145915
4,2,BATHGATE,01 ONE FAMILY HOMES,1,3046,42,A1,2069 BATHGATE AVENUE,10457,1,0,1,1964,1424,1899,1,A1,72790
5,2,BATHGATE,01 ONE FAMILY HOMES,1,3048,18,A9,2184 BATHGATE AVENUE,10457,1,0,1,1768,1236,1930,1,A9,313300
6,2,BATHGATE,01 ONE FAMILY HOMES,1,3048,19,A5,2186 BATHGATE AVENUE,10457,1,0,1,1768,1188,1901,1,A5,299000
7,2,BATHGATE,01 ONE FAMILY HOMES,1,3048,19,A5,2186 BATHGATE AVENUE,10457,1,0,1,1768,1188,1901,1,A5,132000
8,2,BATHGATE,01 ONE FAMILY HOMES,1,3048,28,A1,540 EAST 182 STREET,10457,1,0,1,1209,1048,1901,1,A1,272231
9,2,BATHGATE,02 TWO FAMILY HOMES,1,3030,60,B3,4469 PARK AVENUE,10457,2,0,2,1542,1542,1899,1,B3,88218
10,2,BATHGATE,02 TWO FAMILY HOMES,1,3030,71,B2,4443 PARK AVENUE,10457,2,0,2,2352,1632,1899,1,B2,280000
11,2,BATHGATE,02 TWO FAMILY HOMES,1,3030,76,B2,4435 PARK AVENUE,10457,2,0,2,2444,2125,1899,1,B2,187000
12,2,BATHGATE,02 TWO FAMILY HOMES,1,3036,43,B1,2057 WASHINGTON AVENUE,10457,2,0,2,3323,3438,1997,1,B1,10000
13,2,BATHGATE,02 TWO FAMILY HOMES,1,3045,110,B1,2044 BATHGATE AVENUE,10457,2,0,2,2785,1710,1998,1,B1,100000
14,2,BATHGATE,02 TWO FAMILY HOMES,1,3046,53,B2,2045 BATHGATE AVENUE,10457,2,0,2,2625,1692,1901,1,B2,320000
15,2,BATHGATE,02 TWO FAMILY HOMES,1,3046,54,B2,2043 BATHGATE AVENUE,10457,2,0,2,2483,1512,1901,1,B2,155000
16,2,BATHGATE,02 TWO FAMILY HOMES,1,3048,12,B2,2174 BATHGATE AVENUE,10457,2,0,2,4973,4375,1901,1,B2,401000
17,2,BATHGATE,02 TWO FAMILY HOMES,1,3050,95,B2,2242 BASSFORD AVENUE,10457,2,0,2,1312,2300,1931,1,B2,136890
18,2,BATHGATE,02 TWO FAMILY HOMES,1,3050,95,B2,2242 BASSFORD AVENUE,10457,2,0,2,1312,2300,1931,1,B2,439633
19,2,BATHGATE,02 TWO FAMILY HOMES,1,3052,23,S2,545 EAST 183 STREET,10458,2,1,3,2000,4200,1931,1,S2,869000
20,2,BATHGATE,03 THREE FAMILY HOMES,1,3037,140,C0,2139 WASHINGTON AVENUE,10457,3,0,3,2670,2970,1899,1,C0,179000
21,2,BATHGATE,03 THREE FAMILY HOMES,1,3037,140,C0,2139 WASHINGTON AVENUE,10457,3,0,3,2670,2970,1899,1,C0,565015
22,2,BATHGATE,03 THREE FAMILY HOMES,1,3044,56,C0,1976 BATHGATE AVENUE,10457,3,0,3,1493,2430,1931,1,C0,152100
23,2,BATHGATE,03 THREE FAMILY HOMES,1,3046,47,C0,2063 BATHGATE AVENUE,10457,3,0,3,2422,2400,1901,1,C0,275000
24,2,BATHGATE,03 THREE FAMILY HOMES,1,3050,5,C0,2194 WASHINGTON AVENUE,10457,3,0,3,1331,2244,1901,1,C0,155000
25,2,BATHGATE,05 TAX CLASS 1 VACANT LAND,1B,3036,36,V0,2085 WASHINGTON AVENUE,10457,0,0,0,2099,0,0,1,V0,108000
26,2,BATHGATE,07 RENTALS - WALKUP APARTMENTS,2,2913,43,C7,495 CLAREMONT PARKWAY,10457,18,2,20,4100,14480,1901,2,C7,60000
27,2,BATHGATE,07 RENTALS - WALKUP APARTMENTS,2,2929,82,C7,1625 FULTON AVE,10457,101,2,103,22152,87413,1927,2,C7,6265058
28,2,BATHGATE,07 RENTALS - WALKUP APARTMENTS,2B,3031,19,C1,2338 WEBSTER AVENUE,10458,8,0,8,3002,8884,1931,2,C1,275000
29,2,BATHGATE,07 RENTALS - WALKUP APARTMENTS,2B,3031,48,C1,4633 PARK AVENUE,10458,8,0,8,2186,7520,1909,2,C1,576940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2881,2,WILLIAMSBRIDGE,37 RELIGIOUS FACILITIES,4,4866,34,M1,925 EAST 230 STREET,10466,0,1,1,5500,2550,1968,4,M1,415000
2882,2,WOODLAWN,01 ONE FAMILY HOMES,1,3375,31,A1,242 EAST 235 STREET,10470,1,0,1,2500,1386,1920,1,A1,125000
2883,2,WOODLAWN,01 ONE FAMILY HOMES,1,3379,57,A5,4337 KATONAH,10470,1,0,1,1700,2280,1915,1,A5,200000
2884,2,WOODLAWN,01 ONE FAMILY HOMES,1,3384,47,A1,349 EAST 235 STREET,10470,1,0,1,3500,1440,1920,1,A1,430000
2885,2,WOODLAWN,01 ONE FAMILY HOMES,1,3384,61,A1,317 EAST 235 STREET,10470,1,0,1,2500,1760,1920,1,A1,288400
2886,2,WOODLAWN,01 ONE FAMILY HOMES,1,3386,34,A1,346 EAST 238TH STREET,10470,1,0,1,2500,1824,1920,1,A1,399000
2887,2,WOODLAWN,01 ONE FAMILY HOMES,1,3386,53,A1,345 EAST 237 STREET,10470,1,0,1,5000,1664,1920,1,A1,460000
2888,2,WOODLAWN,01 ONE FAMILY HOMES,1,3388,44,A1,331 EAST 239 STREET,10470,1,0,1,2542,2270,1920,1,A1,350000
2889,2,WOODLAWN,02 TWO FAMILY HOMES,1,3366,24,B2,84 EAST 236TH STREET,10470,2,0,2,2500,2225,1915,1,B2,310000
2890,2,WOODLAWN,02 TWO FAMILY HOMES,1,3367,60,B1,71 EAST 236TH STREET,10470,2,0,2,2458,3828,1925,1,B1,560000
2891,2,WOODLAWN,02 TWO FAMILY HOMES,1,3369,16,B1,136 EAST 235 STREET,10470,2,0,2,2500,2280,1915,1,B1,499800
2892,2,WOODLAWN,02 TWO FAMILY HOMES,1,3375,70,B2,273 EAST 234TH STREET,10470,2,0,2,3742,2184,1920,1,B2,250000
2893,2,WOODLAWN,02 TWO FAMILY HOMES,1,3375,84,B2,241 EAST 234TH STREET,10470,2,0,2,2500,2148,1901,1,B2,477500
2894,2,WOODLAWN,02 TWO FAMILY HOMES,1,3377,76,B2,259 EAST 236 STREET,10470,2,0,2,2500,2020,1915,1,B2,567000
2895,2,WOODLAWN,02 TWO FAMILY HOMES,1,3381,51,B3,4482 VAN CORTLANDT PARK E,10470,2,0,2,4629,2682,1930,1,B3,450000
2896,2,WOODLAWN,02 TWO FAMILY HOMES,1,3384,14,B1,318 EAST 236 STREET,10470,2,0,2,2842,3486,1910,1,B1,525300
2897,2,WOODLAWN,02 TWO FAMILY HOMES,1,3384,62,B1,315 EAST 235 STREET,10470,2,0,2,5000,3192,1930,1,B1,630000
2898,2,WOODLAWN,02 TWO FAMILY HOMES,1,3393,77,B2,419 EAST 239TH STREET,10470,2,0,2,2500,2160,1910,1,B2,410000
2899,2,WOODLAWN,02 TWO FAMILY HOMES,1,3396,45,B2,517 EAST 234TH STREET,10470,2,0,2,2500,1604,1910,1,B2,422500
2900,2,WOODLAWN,03 THREE FAMILY HOMES,1,3369,8,C0,116 EAST 235 STREET,10470,3,0,3,2900,3100,1915,1,C0,563500
2901,2,WOODLAWN,03 THREE FAMILY HOMES,1,3384,57,C0,325 EAST 235TH STREET,10470,3,0,3,2500,4196,1930,1,C0,550000
2902,2,WOODLAWN,03 THREE FAMILY HOMES,1,3394,6,C0,4380 MARTHA AVENUE,10470,3,0,3,2500,2829,1910,1,C0,300000
2903,2,WOODLAWN,07 RENTALS - WALKUP APARTMENTS,2,3375,59,C7,283 EAST 234 STREET,10470,21,3,24,6375,27000,1928,2,C7,2600000
2904,2,WOODLAWN,07 RENTALS - WALKUP APARTMENTS,2A,3379,74,C2,259 EAST 238 STREET,10470,6,0,6,3000,3350,1927,2,C2,700000
2905,2,WOODLAWN,10 COOPS - ELEVATOR APARTMENTS,2,3363,58,D4,"4200 HERKIMER PLACE, 5G",10470,0,0,0,0,0,1967,2,D4,150000
2906,2,WOODLAWN,10 COOPS - ELEVATOR APARTMENTS,2,3363,58,D4,"4200 HERKIMER PLACE, 3C",10470,0,0,0,0,0,1967,2,D4,76000
2907,2,WOODLAWN,10 COOPS - ELEVATOR APARTMENTS,2,3396,21,D4,"4265 WEBSTER AVE, 4H",10470,0,0,0,0,0,1955,2,D4,150000
2908,2,WOODLAWN,10 COOPS - ELEVATOR APARTMENTS,2,3396,21,D4,"4265 WEBSTER AVENUE, 3G",10470,0,0,0,0,0,1955,2,D4,255000
2909,2,WOODLAWN,10 COOPS - ELEVATOR APARTMENTS,2,3398,44,D4,"4380 VIREO AVENUE, 1E",10470,0,0,0,0,0,1958,2,D4,105000
2910,2,WOODLAWN,10 COOPS - ELEVATOR APARTMENTS,2,3398,97,D4,"4295 WEBSTER AVENUE, 4F",10470,0,0,0,0,0,1957,2,D4,190000