In [287]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [288]:
#Get All Years into Single DataFrame
import glob
import os
path = os.getcwd() + '/AllYears/'
allFiles = glob.glob(path + "/*.csv")

In [289]:
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    
    #some years have tabs at end of column names
    df.columns = [i.strip('\n') for i in df.columns]
    
    
    #Make sure SALE DATE column is a Date Type
    df['SALE DATE'] = pd.to_datetime(df['SALE DATE'])
    
    #create year column
    df['YEAR'] = df['SALE DATE'].apply(lambda r: r.year)
    list_.append(df)
rawdf = pd.concat(list_,)

In [290]:
rawdf.head()

   Unnamed: 0  BOROUGH               NEIGHBORHOOD                       BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  BLOCK  LOT EASE-MENT BUILDING CLASS AT PRESENT                                    ADDRESS APARTMENT NUMBER  ZIP CODE  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET  YEAR BUILT  TAX CLASS AT TIME OF SALE BUILDING CLASS AT TIME OF SALE  SALE PRICE  SALE DATE  YEAR
0           0        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   2908   25                                  A1  460 E176TH STREET                                              10457                  1                 0            1              2580               2070        1910                          1                             A1           0 2008-11-06  2008
1           1        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3039   28                                  A1  2329 WASHINGTON AVENUE                                         10458                  1                 0            1              1103               1290        1910                          1                             A1      370000 2008-05-27  2008
2           2        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3039   29                                  A9  2327 WASHINGTON AVE                                            10458                  1                 0            1              1095               1260        1910                          1                             A9      360000 2008-04-18  2008
3           3        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3043   56                                  A1  1950 BATHGATE AVENUE                                           10457                  1                 0            1              2356               2048        1901                          1                             A1           0 2008-09-03  2008
4           4        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3046   34                                  A1  2085 BATHGATE                                                  10457                  1                 0            1              2060               1629        1899                          1                             A1      274764 2008-08-04  2008

In [291]:
#cleanup DataFrame
#columns to keep
keep =(
[u'BOROUGH', u'NEIGHBORHOOD', u'BUILDING CLASS CATEGORY',
 u'TAX CLASS AT PRESENT', u'BLOCK', u'LOT',
       u'BUILDING CLASS AT PRESENT', u'ADDRESS',
       u'ZIP CODE', u'RESIDENTIAL UNITS', u'COMMERCIAL UNITS', u'TOTAL UNITS',
       u'LAND SQUARE FEET', u'GROSS SQUARE FEET', u'YEAR BUILT',
       u'TAX CLASS AT TIME OF SALE', u'BUILDING CLASS AT TIME OF SALE',
       u'SALE PRICE', u'SALE DATE', 'YEAR'])

df = rawdf[keep].reset_index(drop=True)

df = df[df['SALE PRICE'] > 1000]

In [292]:
df.head()

   BOROUGH               NEIGHBORHOOD                       BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  BLOCK  LOT BUILDING CLASS AT PRESENT                                    ADDRESS  ZIP CODE  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET  YEAR BUILT  TAX CLASS AT TIME OF SALE BUILDING CLASS AT TIME OF SALE  SALE PRICE  SALE DATE  YEAR
1        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3039   28                        A1  2329 WASHINGTON AVENUE                        10458                  1                 0            1              1103               1290        1910                          1                             A1      370000 2008-05-27  2008
2        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3039   29                        A9  2327 WASHINGTON AVE                           10458                  1                 0            1              1095               1260        1910                          1                             A9      360000 2008-04-18  2008
4        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3046   34                        A1  2085 BATHGATE                                 10457                  1                 0            1              2060               1629        1899                          1                             A1      274764 2008-08-04  2008
5        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3047   11                        A1  482 EAST 181 STREET                           10457                  1                 0            1              1556               1240        1901                          1                             A1      283000 2008-06-11  2008
6        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3053  105                        A1  2323 BASSFORD AVENUE                          10458                  1                 0            1               922               1248        1901                          1                             A1      250000 2008-08-04  2008

In [293]:
df.count()

BOROUGH                           376130
NEIGHBORHOOD                      376130
BUILDING CLASS CATEGORY           376130
TAX CLASS AT PRESENT              376130
BLOCK                             376130
LOT                               376130
BUILDING CLASS AT PRESENT         376130
ADDRESS                           376130
ZIP CODE                          376130
RESIDENTIAL UNITS                 376130
COMMERCIAL UNITS                  376130
TOTAL UNITS                       376130
LAND SQUARE FEET                  376130
GROSS SQUARE FEET                 376130
YEAR BUILT                        376130
TAX CLASS AT TIME OF SALE         376130
BUILDING CLASS AT TIME OF SALE    376130
SALE PRICE                        376130
SALE DATE                         376130
YEAR                              376130
dtype: int64

In [295]:
#Only keep Zip Codes with data from all 4 Years
Num_Years = 7
EveryYear = (df.groupby('ZIP CODE')['YEAR'].nunique() == Num_Years)
zips = EveryYear[EveryYear == True].index

#Only keep Zip Codes with over 500 sales in the last 4 years
threshold = 500
Enough_Sales = (df.groupby('ZIP CODE').count() > threshold)
zips2 = groups[groups['BLOCK'] == True].index
print len(zips), len(zips2)

179 154

In [296]:
#Find intersection
keep_zips = np.intersect1d(zips,zips2)

In [365]:
clean_df = df[df['ZIP CODE'].isin(keep_zips)].reset_index(drop= True)

In [343]:
clean_df.head()

   BOROUGH               NEIGHBORHOOD                       BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  BLOCK  LOT BUILDING CLASS AT PRESENT                                    ADDRESS  ZIP CODE  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET  YEAR BUILT  TAX CLASS AT TIME OF SALE BUILDING CLASS AT TIME OF SALE  SALE PRICE  SALE DATE  YEAR
0        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3039   28                        A1  2329 WASHINGTON AVENUE                        10458                  1                 0            1              1103               1290        1910                          1                             A1      370000 2008-05-27  2008
1        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3039   29                        A9  2327 WASHINGTON AVE                           10458                  1                 0            1              1095               1260        1910                          1                             A9      360000 2008-04-18  2008
2        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3046   34                        A1  2085 BATHGATE                                 10457                  1                 0            1              2060               1629        1899                          1                             A1      274764 2008-08-04  2008
3        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3047   11                        A1  482 EAST 181 STREET                           10457                  1                 0            1              1556               1240        1901                          1                             A1      283000 2008-06-11  2008
4        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3053  105                        A1  2323 BASSFORD AVENUE                          10458                  1                 0            1               922               1248        1901                          1                             A1      250000 2008-08-04  2008

In [344]:
#Add Features
#clean_df.groupby(['ZIP CODE', 'YEAR'])['SALE PRICE'].mean()
#clean_df.groupby(['ZIP CODE', 'YEAR'])['SALE PRICE'].std()
#clean_df.groupby(['ZIP CODE', 'YEAR'])['SALE PRICE'].count()
#clean_df.groupby(['ZIP CODE', 'YEAR'])['SALE PRICE'].median()

ZIP CODE  YEAR
10001     2008     6524194
          2009     4663023
          2010     6215075
          2011     8329433
          2012     4853504
          2013     7249010
          2014    10840595
10002     2008     1354956
          2009      674625
          2010     1433065
          2011     1214870
          2012     1750014
          2013     1447769
          2014     1859802
10003     2008     1915623
          2009     1264756
          2010     2509130
          2011     1801484
          2012     1667837
          2013     2258257
          2014     1905040
10005     2008     1579375
          2009     1927024
          2010     1847454
          2011     4582687
          2012     3833599
          2013     6155495
          2014     1550603
10007     2008     2668722
          2009     2537360
                    ...
11435     2013      392509
          2014      406272
11436     2008      371210
          2009      300644
          2010      277081
          2011      291307
          2012      268032
          2013      285634
          2014      509065
11691     2008      506176
          2009      435843
          2010      326001
          2011      530032
          2012      530382
          2013      418105
          2014      694049
11692     2008      512270
          2009      481231
          2010      318154
          2011      407519
          2012     1574948
          2013      551278
          2014      475036
11694     2008      547916
          2009      696831
          2010      536568
          2011      586617
          2012      589949
          2013      534665
          2014      564659
Name: SALE PRICE, dtype: int64

Now, we add some historical features to the DataFrame. This includes the means, standard deviation, number and median for the sales prices per zip code.

In [400]:
x = clean_df.groupby(['ZIP CODE', 'YEAR'])['SALE PRICE']
means = x.mean().to_dict()
stds = x.std().to_dict()
counts = x.count().to_dict()
medians = x.median().to_dict()

for i in xrange(1,4):
    clean_df[str(i)+'-mean'] = (clean_df[clean_df.YEAR > 2010].
                           apply(lambda r: means[(r['ZIP CODE'],r['YEAR']-i)], axis = 1)
                           )
    clean_df[str(i)+'-std'] = (clean_df[clean_df.YEAR > 2010].
                           apply(lambda r: stds[(r['ZIP CODE'],r['YEAR']-i)], axis = 1)
                           )
    clean_df[str(i)+'-count'] = (clean_df[clean_df.YEAR > 2010].
                           apply(lambda r: counts[(r['ZIP CODE'],r['YEAR']-i)], axis = 1)
                           )
    clean_df[str(i) + '-median'] =(clean_df[clean_df.YEAR > 2010].
                           apply(lambda r: medians[(r['ZIP CODE'],r['YEAR']-i)], axis = 1)
                           )

In [399]:
clean_df.groupby(['ZIP CODE', 'YEAR'])['SALE PRICE'].median()

ZIP CODE  YEAR
10001     2008    1333569.0
          2009     980000.0
          2010    1367500.0
          2011    1263723.5
          2012    1265000.0
          2013    1205000.0
          2014    1200000.0
10002     2008     587895.0
          2009     499990.0
          2010     683079.5
          2011     573000.0
          2012     553750.0
          2013     560037.0
          2014     660000.0
10003     2008     895000.0
          2009     731250.0
          2010     992500.0
          2011     830000.0
          2012     852275.0
          2013     867500.0
          2014    1148320.0
10005     2008     972428.0
          2009     916425.0
          2010     913750.0
          2011     916577.5
          2012     968623.0
          2013    1027500.0
          2014    1075000.0
10007     2008    2367431.0
          2009    2418343.0
                    ...
11435     2013     255000.0
          2014     290000.0
11436     2008     360918.5
          2009     291500.0
          2010     275000.0
          2011     253000.0
          2012     277038.5
          2013     282500.0
          2014     301285.0
11691     2008     441753.0
          2009     315000.0
          2010     293551.0
          2011     300000.0
          2012     355000.0
          2013     279600.0
          2014     346000.0
11692     2008     472500.0
          2009     380044.0
          2010     297316.5
          2011     364026.0
          2012     421615.0
          2013     590585.0
          2014     562000.0
11694     2008     513000.0
          2009     590908.0
          2010     491909.0
          2011     500000.0
          2012     480000.0
          2013     490000.0
          2014     511750.0
Name: SALE PRICE, dtype: float64