In [52]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [101]:
#Get All Years into Single DataFrame
import glob
import os
path = os.getcwd() + '/AllYears/'
allFiles = glob.glob(path + "/*.csv")

In [136]:
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    
    #some years have tabs at end of column names
    df.columns = [i.strip('\n') for i in df.columns]
    
    
    #Make sure SALE DATE column is a Date Type
    df['SALE DATE'] = pd.to_datetime(df['SALE DATE'])
    
    #create year column
    df['YEAR'] = df['SALE DATE'].apply(lambda r: r.year)
    list_.append(df)
rawdf = pd.concat(list_,)

In [137]:
rawdf.head()

   Unnamed: 0  BOROUGH               NEIGHBORHOOD                       BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  BLOCK  LOT EASE-MENT BUILDING CLASS AT PRESENT                                    ADDRESS APARTMENT NUMBER  ZIP CODE  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET  YEAR BUILT  TAX CLASS AT TIME OF SALE BUILDING CLASS AT TIME OF SALE  SALE PRICE  SALE DATE  YEAR
0           0        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3030   70                                  A1  4445 PARK AVENUE                                               10457                  1                 0            1              1694               1497        1899                          1                             A1           0 2010-01-15  2010
1           1        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3035    2                                  S1  441 EAST 178 STREET                                            10457                  1                 1            2              1287               2378        1899                          1                             S1      116000 2010-07-01  2010
2           2        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3037   42                                  A1  4428 PARK AVENUE                                               10457                  1                 0            1              3525               1340        1899                          1                             A1      287000 2010-12-10  2010
3           3        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3039   64                                  A1  467 EAST 185 STREET                                            10458                  1                 0            1              1667               1296        1910                          1                             A1      150000 2010-04-20  2010
4           4        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3046   34                                  A1  2085 BATHGATE AVENUE                                           10457                  1                 0            1              2060               1629        1899                          1                             A1      145915 2010-07-27  2010

In [251]:
#cleanup DataFrame
#columns to keep
keep =(
[u'BOROUGH', u'NEIGHBORHOOD', u'BUILDING CLASS CATEGORY',
 u'TAX CLASS AT PRESENT', u'BLOCK', u'LOT',
       u'BUILDING CLASS AT PRESENT', u'ADDRESS',
       u'ZIP CODE', u'RESIDENTIAL UNITS', u'COMMERCIAL UNITS', u'TOTAL UNITS',
       u'LAND SQUARE FEET', u'GROSS SQUARE FEET', u'YEAR BUILT',
       u'TAX CLASS AT TIME OF SALE', u'BUILDING CLASS AT TIME OF SALE',
       u'SALE PRICE', u'SALE DATE', 'YEAR'])

df = rawdf[keep].reset_index(drop=True)

df = df[df['SALE PRICE'] > 1000]

In [236]:
df.head()

   BOROUGH               NEIGHBORHOOD                       BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  BLOCK  LOT BUILDING CLASS AT PRESENT                                    ADDRESS  ZIP CODE  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET  YEAR BUILT  TAX CLASS AT TIME OF SALE BUILDING CLASS AT TIME OF SALE  SALE PRICE  SALE DATE  YEAR
1        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3035    2                        S1  441 EAST 178 STREET                           10457                  1                 1            2              1287               2378        1899                          1                             S1      116000 2010-07-01  2010
2        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3037   42                        A1  4428 PARK AVENUE                              10457                  1                 0            1              3525               1340        1899                          1                             A1      287000 2010-12-10  2010
3        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3039   64                        A1  467 EAST 185 STREET                           10458                  1                 0            1              1667               1296        1910                          1                             A1      150000 2010-04-20  2010
4        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3046   34                        A1  2085 BATHGATE AVENUE                          10457                  1                 0            1              2060               1629        1899                          1                             A1      145915 2010-07-27  2010
5        2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3046   42                        A1  2069 BATHGATE AVENUE                          10457                  1                 0            1              1964               1424        1899                          1                             A1       72790 2010-06-03  2010

In [151]:
df.count()

BOROUGH                           267379
NEIGHBORHOOD                      267379
BUILDING CLASS CATEGORY           267379
TAX CLASS AT PRESENT              267379
BLOCK                             267379
LOT                               267379
BUILDING CLASS AT PRESENT         267379
ADDRESS                           267379
ZIP CODE                          267379
RESIDENTIAL UNITS                 267379
COMMERCIAL UNITS                  267379
TOTAL UNITS                       267379
LAND SQUARE FEET                  267379
GROSS SQUARE FEET                 267379
YEAR BUILT                        267379
TAX CLASS AT TIME OF SALE         267379
BUILDING CLASS AT TIME OF SALE    267379
SALE PRICE                        267379
SALE DATE                         267379
YEAR                              267379
dtype: int64

In [257]:
#Only keep Zip Codes with data from all 4 Years
Num_Years = 5
EveryYear = (df.groupby('ZIP CODE')['YEAR'].nunique() == Num_Years)
zips = EveryYear[EveryYear == True].index

#Only keep Zip Codes with over 500 sales in the last 4 years
threshold = 500
Enough_Sales = (df.groupby('ZIP CODE').count() > threshold)
zips2 = groups[groups['BLOCK'] == True].index
print len(zips), len(zips2)

179 154

In [264]:
#Find intersection
keep_zips = np.intersect1d(zips,zips2)

In [265]:
df[df['ZIP CODE'].isin(keep_zips)]

        BOROUGH               NEIGHBORHOOD                       BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  BLOCK  LOT BUILDING CLASS AT PRESENT                                    ADDRESS  ZIP CODE  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET  YEAR BUILT  TAX CLASS AT TIME OF SALE BUILDING CLASS AT TIME OF SALE  SALE PRICE  SALE DATE  YEAR
1             2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3035    2                        S1  441 EAST 178 STREET                           10457                  1                 1            2              1287               2378        1899                          1                             S1      116000 2010-07-01  2010
2             2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3037   42                        A1  4428 PARK AVENUE                              10457                  1                 0            1              3525               1340        1899                          1                             A1      287000 2010-12-10  2010
3             2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3039   64                        A1  467 EAST 185 STREET                           10458                  1                 0            1              1667               1296        1910                          1                             A1      150000 2010-04-20  2010
4             2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3046   34                        A1  2085 BATHGATE AVENUE                          10457                  1                 0            1              2060               1629        1899                          1                             A1      145915 2010-07-27  2010
5             2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3046   42                        A1  2069 BATHGATE AVENUE                          10457                  1                 0            1              1964               1424        1899                          1                             A1       72790 2010-06-03  2010
6             2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3048   18                        A9  2184 BATHGATE AVENUE                          10457                  1                 0            1              1768               1236        1930                          1                             A9      313300 2010-04-09  2010
7             2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3048   19                        A5  2186 BATHGATE AVENUE                          10457                  1                 0            1              1768               1188        1901                          1                             A5      299000 2010-06-30  2010
8             2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3048   19                        A5  2186 BATHGATE AVENUE                          10457                  1                 0            1              1768               1188        1901                          1                             A5      132000 2010-02-23  2010
9             2  BATHGATE                   01  ONE FAMILY HOMES                                            1   3048   28                        A1  540 EAST 182 STREET                           10457                  1                 0            1              1209               1048        1901                          1                             A1      272231 2010-10-04  2010
13            2  BATHGATE                   02  TWO FAMILY HOMES                                            1   3030   60                        B3  4469 PARK AVENUE                              10457                  2                 0            2              1542               1542        1899                          1                             B3       88218 2010-01-27  2010
15            2  BATHGATE                   02  TWO FAMILY HOMES                                            1   3030   71                        B2  4443 PARK AVENUE                              10457                  2                 0            2              2352               1632        1899                          1                             B2      280000 2010-02-23  2010
16            2  BATHGATE                   02  TWO FAMILY HOMES                                            1   3030   76                        B2  4435 PARK AVENUE                              10457                  2                 0            2              2444               2125        1899                          1                             B2      187000 2010-07-29  2010
19            2  BATHGATE                   02  TWO FAMILY HOMES                                            1   3036   43                        B1  2057 WASHINGTON AVENUE                        10457                  2                 0            2              3323               3438        1997                          1                             B1       10000 2010-08-24  2010
20            2  BATHGATE                   02  TWO FAMILY HOMES                                            1   3045  110                        B1  2044 BATHGATE AVENUE                          10457                  2                 0            2              2785               1710        1998                          1                             B1      100000 2010-01-11  2010
22            2  BATHGATE                   02  TWO FAMILY HOMES                                            1   3046   53                        B2  2045 BATHGATE AVENUE                          10457                  2                 0            2              2625               1692        1901                          1                             B2      320000 2010-06-29  2010
23            2  BATHGATE                   02  TWO FAMILY HOMES                                            1   3046   54                        B2  2043 BATHGATE AVENUE                          10457                  2                 0            2              2483               1512        1901                          1                             B2      155000 2010-09-24  2010
24            2  BATHGATE                   02  TWO FAMILY HOMES                                            1   3048   12                        B2  2174 BATHGATE AVENUE                          10457                  2                 0            2              4973               4375        1901                          1                             B2      401000 2010-05-27  2010
25            2  BATHGATE                   02  TWO FAMILY HOMES                                            1   3050   95                        B2  2242 BASSFORD AVENUE                          10457                  2                 0            2              1312               2300        1931                          1                             B2      136890 2010-10-29  2010
26            2  BATHGATE                   02  TWO FAMILY HOMES                                            1   3050   95                        B2  2242 BASSFORD AVENUE                          10457                  2                 0            2              1312               2300        1931                          1                             B2      439633 2010-06-07  2010
27            2  BATHGATE                   02  TWO FAMILY HOMES                                            1   3052   23                        S2  545 EAST 183 STREET                           10458                  2                 1            3              2000               4200        1931                          1                             S2      869000 2010-03-24  2010
30            2  BATHGATE                   03  THREE FAMILY HOMES                                          1   3037  140                        C0  2139 WASHINGTON AVENUE                        10457                  3                 0            3              2670               2970        1899                          1                             C0      179000 2010-07-27  2010
31            2  BATHGATE                   03  THREE FAMILY HOMES                                          1   3037  140                        C0  2139 WASHINGTON AVENUE                        10457                  3                 0            3              2670               2970        1899                          1                             C0      565015 2010-05-17  2010
33            2  BATHGATE                   03  THREE FAMILY HOMES                                          1   3044   56                        C0  1976 BATHGATE AVENUE                          10457                  3                 0            3              1493               2430        1931                          1                             C0      152100 2010-02-25  2010
34            2  BATHGATE                   03  THREE FAMILY HOMES                                          1   3046   47                        C0  2063 BATHGATE AVENUE                          10457                  3                 0            3              2422               2400        1901                          1                             C0      275000 2010-06-02  2010
35            2  BATHGATE                   03  THREE FAMILY HOMES                                          1   3050    5                        C0  2194 WASHINGTON AVENUE                        10457                  3                 0            3              1331               2244        1901                          1                             C0      155000 2010-03-15  2010
36            2  BATHGATE                   05  TAX CLASS 1 VACANT LAND                                    1B   3036   36                        V0  2085 WASHINGTON AVENUE                        10457                  0                 0            0              2099                  0           0                          1                             V0      108000 2010-11-01  2010
37            2  BATHGATE                   07  RENTALS - WALKUP APARTMENTS                                 2   2913   43                        C7  495 CLAREMONT PARKWAY                         10457                 18                 2           20              4100              14480        1901                          2                             C7       60000 2010-09-03  2010
38            2  BATHGATE                   07  RENTALS - WALKUP APARTMENTS                                 2   2929   82                        C7  1625 FULTON AVE                               10457                101                 2          103             22152              87413        1927                          2                             C7     6265058 2010-06-04  2010
39            2  BATHGATE                   07  RENTALS - WALKUP APARTMENTS                                2B   3031   19                        C1  2338 WEBSTER AVENUE                           10458                  8                 0            8              3002               8884        1931                          2                             C1      275000 2010-12-15  2010
40            2  BATHGATE                   07  RENTALS - WALKUP APARTMENTS                                2B   3031   48                        C1  4633 PARK AVENUE                              10458                  8                 0            8              2186               7520        1909                          2                             C1      576940 2010-01-27  2010
...         ...                        ...                                           ...                  ...    ...  ...                       ...                                        ...       ...                ...               ...          ...               ...                ...         ...                        ...                            ...         ...        ...   ...
405259        5  WOODROW                    02  TWO FAMILY DWELLINGS                                        1   6925   38                        B2  963 RATHBUN AVENUE                            10309                  2                 0            2              3300               2731        1985                          1                             B2      575500 2014-01-03  2014
405261        5  WOODROW                    02  TWO FAMILY DWELLINGS                                        1   6967   16                        B9  1007 RATHBUN AVENUE                           10309                  2                 0            2              2500               1440        1987                          1                             B9      357500 2014-12-29  2014
405262        5  WOODROW                    02  TWO FAMILY DWELLINGS                                        1   6967   21                        B9  1013 RATHBUN AVENUE                           10309                  2                 0            2              2500               1440        1987                          1                             B9      375000 2014-12-02  2014
405263        5  WOODROW                    02  TWO FAMILY DWELLINGS                                        1   6967   22                        B9  1015 RATHBUN AVENUE                           10309                  2                 0            2              2500               1440        1987                          1                             B9      375000 2014-09-22  2014
405265        5  WOODROW                    02  TWO FAMILY DWELLINGS                                        1   6967   24                        B9  1017 RATHBUN AVENUE                           10309                  2                 0            2              2500               1440        1987                          1                             B9      425000 2014-06-25  2014
405267        5  WOODROW                    02  TWO FAMILY DWELLINGS                                        1   7011   85                        B2  951 RAMONA AVENUE                             10309                  2                 0            2              6800               2322        1983                          1                             B2      650000 2014-08-27  2014
405271        5  WOODROW                    02  TWO FAMILY DWELLINGS                                        1   7013   97                        B2  172 MARISA CIRCLE                             10309                  2                 0            2              4860               2576        1984                          1                             B2      560000 2014-08-27  2014
405272        5  WOODROW                    02  TWO FAMILY DWELLINGS                                        1   7013  137                        B2  85 MARISA CIRCLE                              10309                  2                 0            2              4770               2576        1984                          1                             B2      565000 2014-09-17  2014
405273        5  WOODROW                    02  TWO FAMILY DWELLINGS                                        1   7013  152                        B2  141 MARISA CIRCLE                             10309                  2                 0            2              3104               2176        1984                          1                             B2      456000 2014-09-04  2014
405276        5  WOODROW                    02  TWO FAMILY DWELLINGS                                        1   7020  463                        B2  14 LYNBROOK COURT                             10309                  2                 0            2             10416               3600        2001                          1                             B2      699000 2014-04-30  2014
405278        5  WOODROW                    02  TWO FAMILY DWELLINGS                                        1   7022   29                        B2  61 BROOKSIDE LOOP                             10309                  2                 0            2              5121               3129        2011                          1                             B2      763687 2014-10-22  2014
405279        5  WOODROW                    02  TWO FAMILY DWELLINGS                                        1   7022   31                        B2  59 BROOKSIDE LOOP                             10309                  2                 0            2              5124               3310        2011                          1                             B2      773854 2014-01-07  2014
405282        5  WOODROW                    02  TWO FAMILY DWELLINGS                                        1   7106    8                        B9  204 WIRT AVENUE                               10309                  2                 0            2              2898               1698        1998                          1                             B9      463000 2014-06-30  2014
405283        5  WOODROW                    02  TWO FAMILY DWELLINGS                                        1   7267   18                        B9  30 WHITE OAK LANE                             10309                  2                 0            2              1960               2506        1999                          1                             B9      472500 2014-10-28  2014
405284        5  WOODROW                    02  TWO FAMILY DWELLINGS                                        1   7267   87                        B9  34 SHARROTTS LANE                             10309                  2                 0            2              2690               2200        1997                          1                             B9      423514 2014-01-27  2014
405285        5  WOODROW                    02  TWO FAMILY DWELLINGS                                        1   7267  131                        B9  67 SHARROTTS LANE                             10309                  2                 0            2              4700               2685        1998                          1                             B9      545000 2014-07-23  2014
405286        5  WOODROW                    02  TWO FAMILY DWELLINGS                                        1   7267  168                        B9  45 RED CEDAR LANE                             10309                  2                 0            2              2600               2700        1996                          1                             B9      475000 2014-04-15  2014
405287        5  WOODROW                    02  TWO FAMILY DWELLINGS                                        1   7267  186                        B9  20 RED CEDAR LANE                             10309                  2                 0            2              4417               2704        1996                          1                             B9      460425 2014-05-15  2014
405288        5  WOODROW                    02  TWO FAMILY DWELLINGS                                        1   7267  198                        B9  36 HEMLOCK LANE                               10309                  2                 0            2              3801               2704        1996                          1                             B9      530000 2014-02-21  2014